*.o
.DS_Store
.*.swp
/.config.old
/env
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds.conf
/files
/dl/*
/package/openwrt-packages
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
/result/
/rootfs/
/openwrt-mxs-root.ext4
/rootfs.img
/DLpatch/linux-3.18.29.tar.xz
